* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background: #0f2d61;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.login-form label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}

.levels-active {
    text-align: center;
    margin-top: 10px;
}

.sign-in-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.sign-in-button:hover {
    background-color: #0056b3;
}

#responseMessage {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 5px;
    font-size: 14px;
}