@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

html, body {
    height: auto; 
    overflow-y: auto; 
    margin: 0; 
}
  
main {
    height: 100vh;
    overflow-y: auto;
}

.sidebar {
    width: 280px;
    background-color: #f8f9fa; 
    padding: 1rem;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 1;
}


.sidebar .logo {
    font-size: 2rem;
    font-weight: 800;
    font-family: poppins;
    color: #000000;
    margin-bottom: 2rem;
    text-decoration: none;
}


.sidebar .nav-item {
    margin-bottom: 1rem; 
    font-size: 1rem;
    font-weight: 600;
    font-family: Poppins;
}

.sidebar .nav-link {
    color: #000;
    padding: 0.7rem;
    border-radius: 10px;
    transition: background-color 0.2s;
}

.sidebar .nav-link:hover{
    background-color: #7a7a7a46;
}

.sidebar .nav-link.active {
    background-color: #ADE8F4;
    border: 2px solid #00B4D8;
    color: #00B4D8;
    font-size: 1rem;
    font-weight: 600;
}


.sidebar .dropdown-menu {
    background-color: #f8f9fa;
    z-index: 1050;
    position: absolute;
}

.b-side-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(173, 173, 173, 0.1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    position: sticky;
    top: 0;
}

.b-side-vr {
    flex-shrink: 0;
    width: 2px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.guidebook .card{
    background: #FFB3C6;
    margin-top: 6%;
    border-radius: 15px;
    width: 35rem;
    height: 6.5rem;
    text-align: left;
    padding-left: 2rem;
    border: transparent;
}

.title{
    font-size: 18px;
    margin-bottom: 0;
}

.subtitle{
    margin: 0%;
    font-size: 20px;
}

.guidebook .btn-guide{
    border: 2px solid #fb6f92be;
    border-radius: 15px;
    font-family: poppins;
    font-weight: 600;
    background: #FFB3C6;
    width: 8rem;
    height: 3.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.guidebook .card-text{
    font-family: poppins;
    font-weight: 600;
    margin-top: 2%;
}

.levels-active .btn{
    margin-left: 0;
    background: #fb6f92be;
    width: 6rem;
    height: 6rem;
    border-radius: 15rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.levels .btn{
    margin-left: 0;
    background: #a0999bc0;
    width: 6rem;
    height: 6rem;
    border-radius: 15rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-side .card {
    width: 20rem;
    margin-bottom: 1rem;
    border: 2px solid #c0c0c0a8;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 8px;
}

.card-side .card-body{
    padding: 1rem;
}

.card-side .card .btn{
    padding: 0.3rem 0.75rem;
}

.card-side .card-title{
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: Poppins;
}

.card-side .card-text{
    font-size: 1rem;
    font-weight: 400;
    font-family: Poppins;
}


.leaderboard-link{
    font-size: 1.2rem;
    font-weight: 600;
    font-family: Poppins;
}

.leaderboard-text{
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.button-ads{
    text-align: center;
    font-family: poppins;
    font-weight: 500;   
}

.button-ads .btn{
    background-color: #0077B6;
    color:#f0f0f0;
    width: 17rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-ads .btn:hover{
    background-color: #0077B6;
    color:#fff;
}